- name: "Setting up Focalboard Docker on CentOS host"
  hosts: "{{ hostaddr }}"
  remote_user: "{{ username }}"
  become: "yes"
  become_method: "sudo"
  become_user: "root"
  tasks:
    - name: "STEP 1 - Install python3-pip on the remote machine"
      dnf:
        name: "python3-pip"
        state: "latest"
    - name: "STEP 2 - Install docker-py using pip"
      pip:
        name: "docker-py"
    - name: "STEP 3 - Pull mattermost/focalboard:latest from DockerHub"
      community.docker.docker_image:
        name: "mattermost/focalboard:{{ foclbord_vers }}"
        source: "pull"
    - name: "STEP 4 - Configure and start the Focalboard container"
      community.docker.docker_container:
        name: "{{ foclbord_hostname }}"
        image: "mattermost/focalboard:{{ foclbord_vers }}"
        restart_policy: "always"
        ports:
          - "{{ foclbord_port }}:8000"
    - name: "STEP 5 - Remove docker-py using pip"
      pip:
        name: "docker-py"
        state: "absent"
    - name: "STEP 6 - Remove python3-pip from the remote machine"
      dnf:
        name: "python3-pip"
        state: "absent"
